#root {
    max-width: 500px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}

nav {
    background-color: #242424;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.active {
    background-color: #ffb651;
    padding: 5px 15px 5px 15px;

}
.active a {
    background-color: red;
    color: #fff;
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}
.crumb {
    display: inline-block;
    width: 33%;
}
.App {
    width: 100%;
    margin: 0px;
}
.crumb a::after {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 80%;
    font-weight: bold;
    padding: 0 20px;
}
.project-container {
    background-color: antiquewhite;
    color: rgb(43, 21, 21);
    padding: 10px;
    margin: 2px;
}
.select-container {
    cursor: grab;
    color: black;
    text-align: left;
    padding: 5px;
}
.task-container {
    margin: 0 auto;
    height: 150px;
    overflow-y: auto;
    width: 60%;
}
.calender {
    background-color: rgb(255, 214, 160);
    color: black;
    text-align: center;
    padding: 8px;
    margin-bottom: 1px;
}
.calender-item {
    margin-left: 5px;
}
.calender-button {
    padding: 4px 10px 4px 10px;
    border-radius: 0px;
    margin-left: 10px;
}
.timer-button {
    width: 90%;
    margin: 5px 0px 5px 0px;
    
}
.tab-button {
    margin: 10px 0px 0px 0px;
    border-radius: 0px;
    width: 50%;
}
.tab-button:hover {
    background-color: rgb(62, 62, 62);
}
.task {
    background-color: rgb(255, 214, 160);
}
.time {
    background-color: rgb(163, 189, 205);
}
.color-cube {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    padding: 5px;
    cursor: grab;
    margin: 4px 4px 0px 4px;
}
.blue {
    background-color: #5650ff;
}
.purple {
    background-color: #af3bee;
}
.yellow {
    background-color: #e3da3b;
}
.green {
    background-color: #34dc3a;
}
.red {
    background-color: #fb3a64;
}
.pink {
    background-color: #fc83cc;
}
.orange {
    background-color: #ffb651;
}

.hidden {
    display: none;
}
.visible {
    display: inline;
}
